@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.row{
    border-radius: 20px;
}

.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: hsl(230, 69%, 61%);;
    margin: 20px 0;
    border-radius:10px;
    display: inline-block;
    text-decoration: none!important;
    transition: 0.5s;
}
.link_404:hover{
    background-color: hsl(230, 57%, 53%) !important;
}

.contant_box_404 {
    margin-top: -50px;
}