body {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #c3ccd5;
	overflow: hidden;
}
#header{
	background-color: #3f8dbf;
	float: left;
	width: 100%;
	height: 50px;
	color: rgba(255,255,255,1);
	line-height: 50px;
}
#header a {
	color: rgba(255,255,255,1);
	text-decoration: none;
	display: block;
	font-size: 15px;
}
#header-left{
	float: left;
	height: 50px;
}
#header-left:hover #header-left-icon{
	background-color: #3F8DBF;
}
#header-left:hover #header-left-text{
	background-color: #599BC8;
}
#header-left-icon{
	float: left;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #35759F;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-icon i {
	line-height: 50px;
	font-size: 20px;
}
#header-left-text{
	float: left;
	height: 50px;
		-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-left-text a {
	padding-left: 20px;
	padding-right: 20px;
}
#header-right{
	float: right;
	height: 50px;
}
#header-right:hover #header-right-icon{
	background-color: #3F8DBF;
}
#header-right:hover #header-right-text{
	background-color: #599BC8;
}
#header-right-icon{
	float: right;
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: #35759F;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	font-size: 18px;
	line-height: 50px;
}
#header-right-icon i {
	font-size: 20px;
	line-height: 50px;
}
#header-right-text{
	float: right;
	height: 50px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
#header-right-text a {
	padding-right: 20px;
	padding-left: 20px;
}
#wrapper{
	float: left;
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}
#wrapper-center{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
.wrapper-center-title{
	float: left;
	width: 100%;
	font-size: 18px;
}
.wrapper-center-content{
	float: left;
	width: 100%;
	margin-top: 25px;
	margin-bottom: 80px;
}
.wrapper-center-content a{
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #3F8DBF;
	display: block;
	line-height: 30px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
	margin-right: 20px;
	margin-top: 20px;
}
.wrapper-center-content a:hover {
	background-color: #262932;
}

#loading{
	/* background-color: #334d5c; */
	background-color: #5a71d9;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	margin-left: -25px;
}
.object{
	width: 50px;
	height: 5px;
	background-color: #FFF;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;
	position: absolute;
	top: 0px;
	right: -200px;
	}



@-webkit-keyframes animate {
 
  50% {
	-ms-transform: translate(-400px,0) rotate(-360deg); 
   	-webkit-transform: translate(-400px,0) rotate(-360deg); 
    transform: translate(-400px,0) rotate(-360deg); 
	  }

 100% {
	-ms-transform: translate(0,0) rotate(360deg); 
   	-webkit-transform: translate(0,0) rotate(360deg); 
    transform: translate(0,0) rotate(360deg); 
	  }	  


}

@keyframes animate {
  50% {
	-ms-transform: translate(-400px,0) rotate(-360deg); 
   	-webkit-transform: translate(-400px,0) rotate(-360deg); 
    transform: translate(-400px,0) rotate(-360deg); 
	  }

 100% {
	-ms-transform: translate(0,0) rotate(360deg); 
   	-webkit-transform: translate(0,0) rotate(360deg); 
    transform: translate(0,0) rotate(360deg); 
	  }	 	
  
}